<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 2. Еще раз - маленький бин -->
    <bean id="dataHandler2" class="ru.innolearn.day16.beans.handlers.DataHandler" autowire="byName"/>

    <!-- 3. Еще раз - бин по типу -->
    <bean id="dataHandler3" class="ru.innolearn.day16.beans.handlers.DataHandler" autowire="byType"/>

    <!-- 4. Пакет для авто-поиска -->
    <context:component-scan base-package="ru.innolearn.day16"/>
</beans>

